.create_section {
  max-width: 400px;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.post_btn {
  height: 40px;
  width: 95%;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(52, 52, 52);
  color: white;
  cursor: pointer;
}

.post_btn:hover {
  background-color: rgb(11, 11, 11);
}

.description_sec {
  height: 100px;
  max-width: 96%;
  min-width: 96%;
  width: 96%;
}

.latest_blog {
  border-bottom: 1px solid rgb(164, 164, 164);
  margin-top: 5px;
}

.latest_blog .blogs {
  text-align: left;
  margin: 25px 30px;
  width: 800px;
}

.all_blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
