* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  color: #000;
  height: 30px;
  padding: 20px 10px;
}

.links {
  display: flex;
}

.links li {
  list-style: none;
  margin-left: 100px;
  cursor: pointer;
}

.logo-link,
.create-blog,
.home,
.social,
.avatar {
  text-decoration: none;
  color: #000;
}

.logout-btn {
  padding: 2px 14px;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
  background-color: #e5e5e5;
  font-size: 16px;
  font-weight: 600;
}

.logo {
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mobile-navbar,
.menu-btn {
  display: none;
}



.avatar {
  margin-right: 40px;
  font-weight: 600;
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 8px 18px;
  border-radius: 50%;
}

.mob_avtar {
  display: flex;
}

@media screen and (max-width: 980px) {
  .menu-btn {
    display: block;
    border: none;
    font-size: 30px;
    background-color: #e5e5e5;
    cursor: pointer;
  }

  .links {
    display: none;
  }

  .logout-btn {
    display: none;
  }

  .mobile-navbar {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #e5e5e5;
    z-index: 1;
  }

  .mobile-links li {
    margin: 20px 0;
  }

  .mob_avtar {
    display: flex;
  }
}

@media screen and (max-width: 380px) {
  .navbar {
    height: 10px;
  }

  .logo{
    font-size: 20px;
    transition: 0.2s ease-in-out;
  }

  .avatar {
    margin-right: 20px;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }

  .menu-btn {
    
    font-size: 25px;
    transition: 0.2s ease-in-out;
    
  }
}
