* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #000000;
  color: rgb(251, 248, 248);
}

.logo {
  font-size: 30px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo_link {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: end;
  list-style: none;
  width: 75%;
}

.home,
.social,
.logout,
.crt_blog,
.avtar {
  text-decoration: none;
  font-size: 17px;
  padding: 10px 20px;
  margin: 0 15px;
  cursor: pointer;
  color: rgb(166, 166, 166);
}

.avtar {
  border: solid white 2px;
  border-radius: 100%;
  height: 52px;
  width: 60px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(209, 209, 209);
  color: #151515;
}

.home:hover {
  color: white;
  transition: 0.1s ease-in;
}
.social:hover {
  color: white;
  transition: 0.1s ease-in;
}
.logout:hover {
  color: white;
  transition: 0.1s ease-in;
}
.avtar:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.1s ease-in;
}

.crt_blog {
  border: white 2px solid;
  background-color: rgb(209, 209, 209);
  color: black;
  border-radius: 15px;
}

.crt_blog:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.1s ease-in;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 880px) {
  .logo {
    display: flex;
    position: absolute;
    font-size: 25px;
    top: 15px;
    left: 80px;
    margin-left: -60px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #000000;
    left: 0%;
    top: 55px;
    transition: all 1.5s ease-out;
    width: 100%;
    z-index: 1;
  }

  .home,
  .social,
  .logout,
  .crt_blog,
  .avtar {
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .logout {
    margin-top: -25px;
    margin-left: 0px;
  }

  .crt_blog {
    border: none;
    background-color: transparent;
    color: white;
  }

  .crt_blog:hover {
    background-color: transparent;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 32px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    outline: none;
    top: 12px;
    right: 30px;
    cursor: pointer;
  }

  .img_prod {
    width: 250px;
  }

  .view_title {
    font-size: 25px;
  }

  .avtar {
    border:none;
    color: #ffffff;
    background-color: transparent;
  }

  .avtar:hover {
    background-color: transparent;
  }

}
